body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #ff00b3;
}

h1 {
    color: #333;
}

label {
    font-weight: bold;
}

input {
    padding: 5px;
    margin: 5px;
    border: 1px solid #193c19;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #084505;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #11ff00;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #b5d512;
}